.name {
    animation: pulsate 1s infinite;

}

.developer {
    animation: pulsate 1s infinite;
}

.hw {
    animation: pulsate 1s infinite;
}


@keyframes pulsate {
    0% {
        transform: scale(1);
       
    }

    50% {
        transform: scale(0.9);
        
    }

    100% {
        transform: scale(1);
        
    }
}